<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <title>Peedika</title>
    </head>
    <body>
        <header>
            <div class="container">
                <a href="#">PEEDIKA.in</a>
                <nav>
               
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Contact</a>  
                </nav>
            </div>
        </header>       
        <main>
            <div class="banner-container">
                <div class="container">
                    <div class="left-section">
                        <h1>Peedika</h1>
            
                        <h2>Everything you need, in one place</h2>
            
                        <h3>Smart choices. Better prices. Delivered to your door</h3>
            
                        <button onclick="window.location.href='./pages/login.html'">Shop Now</button>

                    </div>

                </div>
            </div>
        </main>
    </body>
</html>